@font-face {
  font-family: 'HarmonyOS_Sans_SC_Medium';
  font-weight: normal;
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Medium/HarmonyOS_Sans_SC_Medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Medium/HarmonyOS_Sans_SC_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HarmonyOS_Sans_SC_Medium/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HarmonyOS_Sans_SC_Medium/HarmonyOS_Sans_SC_Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/HarmonyOS_Sans_SC_Medium/HarmonyOS_Sans_SC_Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HarmonyOS_Sans_Condensed_Light';
  font-weight: normal;
  src: url('/assets/fonts/HarmonyOS_Sans_Condensed_Light/HarmonyOS_Sans_Condensed_Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HarmonyOS_Sans_Condensed_Light/HarmonyOS_Sans_Condensed_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HarmonyOS_Sans_Condensed_Light/HarmonyOS_Sans_Condensed_Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HarmonyOS_Sans_Condensed_Light/HarmonyOS_Sans_Condensed_Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/HarmonyOS_Sans_Condensed_Light/HarmonyOS_Sans_Condensed_Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "iconfont"; /* Project id 4740098 */
  src: url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.eot?t=1731856485909'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.eot?t=1731856485909#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.woff2?t=1731856485909') format('woff2'),
       url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.woff?t=1731856485909') format('woff'),
       url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.ttf?t=1731856485909') format('truetype'),
       url('//at.alicdn.com/t/c/font_4740098_ak4rmdrdhzd.svg?t=1731856485909#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.icon-message:before {
  content: "\e750";
}

.icon-arrowdown:before {
  content: "\e629";
}

.icon-setting-more:before {
  content: "\e620";
}

.icon-delete:before {
  content: "\e66e";
}

.icon-link:before {
  content: "\e600";
}

.icon-mobile:before {
  content: "\e76a";
}

.icon-pc-monitor:before {
  content: "\e635";
}

.icon-close:before {
  content: "\e637";
}

.icon-seleted:before {
  content: "\e616";
}

.icon-lv0:before {
  content: "\e655";
}

.icon-lv1:before {
  content: "\e617";
}

.icon-lv2:before {
  content: "\e654";
}

.icon-lv3:before {
  content: "\e612";
}

.icon-lv4:before {
  content: "\e613";
}

.icon-lv5:before {
  content: "\e656";
}

.icon-lv6:before {
  content: "\e6d7";
}

.icon-lv7:before {
  content: "\e60f";
}

.icon-lv8:before {
  content: "\e619";
}

.icon-lv9:before {
  content: "\e618";
}

.icon-pointer:before {
  content: "\e608";
}

.icon-icon_play:before {
  content: "\e610";
}

